{% extends 'base.html' %}

{% block content %}

 <div class="container">
    <!--Card-->
    <div class="card">
        <!--Header-->
        <div class="card-header info-color-dark white-text text-center">
            Top 5 Websites Ranking
        </div>
        <!--/Header-->

        <!--Content-->
        <div class="card-block">
            <!--Chart-->
              <div class="md-form">
                    <input placeholder="Select date" type="text" id="date-picker-example" class="form-control datepicker">
              </div>
              <canvas id="myChart"></canvas>
            <!--/Chart-->
        </div>
        <!--/Content-->
    </div>
    <!--/Card-->
</div>

{% endblock %}

{% block title %}
- Home
{% endblock %}

{% block breadcrumb %}

{% endblock %}

{% block miscript %}
<script>
$('.datepicker').pickadate({
    
    formatSubmit: 'yyyy/mm/dd',
    
    onSet: function(context) {
        var date = new Date(context.select);
	if (!date.getFullYear()) return;
        var newdate = date.getFullYear()+'/'+(date.getMonth()+1)+'/'+date.getDate();
        console.log(newdate);
        $.post('/', {select: newdate}, function(data) {
            if (data.msg) {
                toastr.warning('No info found for the selected date!');
            }
            var lbl = [];
            var chartData = [];
            for(item of data.name) {
                lbl.push(item);
            }
            for (item of data.visits) {
                chartData.push(item);
            }
            loadData(lbl, chartData);
        });
    }
});
</script>
<script type="text/javascript" src="/static/websitesranking/js/chart-data.js"></script>
{% endblock %}
