{% extends 'base.html' %}
{% load static %}

{% block content %}

<form id="FileForm" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="file-field">
        <div class="btn btn-primary btn-sm">
            <span>Choose file</span>
            <input type="file" accept=".csv" id="csv-file" data-allowed-file-extensions="[csv]">
        </div>
        <div class="file-path-wrapper">
           <input class="file-path validate" type="text" placeholder="Upload your file">
        </div>
    </div>
    <div class="form-group">
        <a class="btn-floating btn-large blue" style="float: right;"><i class="fa fa-upload" id="uploadFile"></i></a>
    </div>
</form>
{% if uploaded_file_url %}
    <p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
  {% endif %}
{% endblock %}

{% block title %}
- Home
{% endblock %}

{% block breadcrumb %}

{% endblock %}

{% block miscript %}
<script>
    $(document).ready(function () {
        $('#uploadFile').on('click', function () {
            if (!$('#csv-file')[0].files[0]){
                toastr.warning('Please select a file!');
                return;
            }
                
            var form = $('#FileForm')[0];
            var formData = new FormData(form);
            formData.append('file', $('#csv-file')[0].files[0]);
             $.ajax({
               url: 'upload',
               type: 'POST',
               data: formData,
               async: false,
               cache: false,
               contentType: false,
               enctype: 'multipart/form-data',
               processData: false,
               success: function (response) {
                 toastr.success('File upload succcessful.');
               }
           });
        });
    });
</script>
{% endblock %}
