<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="icon"
          type="image/png"
          href="/static/favicon.png">

    <title>TM R&D{% block title %}{% endblock %}</title>
    <link href="/static/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/mdb/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/mdb/css/mdb.min.css" rel="stylesheet">
    <link href="/static/websitesranking/css/style.css" rel="stylesheet">
    {% block css %}
    {% endblock %}
</head>

<body class="fixed-sn black-skin">
<!--Double navigation-->
<header>
    <!-- Sidebar navigation -->
    <ul id="slide-out" class="side-nav fixed sn-bg-1 custom-scrollbar">
        <!-- Logo -->
        <li>
            <div class="logo-wrapper waves-light">
                <a href="/"><img src="/static/websitesranking/img/tm.png" class="img-fluid flex-center"></a>
            </div>
        </li>
        <!--/. Logo -->
        <br>
        <br>
        <!-- Side navigation links -->
        <li>
            <ul class="collapsible collapsible-accordion">
                <li class="waves-effect"><a href="/" class="waves-effect"><i class="fa fa-bar-chart"></i>Dashboard</a>
                </li>
            </ul>
            <ul class="collapsible collapsible-accordion">
                <li class="waves-effect"><a href="/upload" class="waves-effect"><i class="fa fa-cloud-upload" aria-hidden="true"></i>Upload CSV</a>
                </li>
            </ul>
        </li>
        <!--/. Side navigation links -->

        <div class="sidenav-bg mask-strong"></div>
    </ul>
    <!--/. Sidebar navigation -->

    <!-- Navbar -->
    <nav class="navbar fixed-top navbar-toggleable-md navbar-dark scrolling-navbar double-nav">
        <!-- SideNav slide-out button -->
        <div class="float-xs-left">
            <a href="#" data-activates="slide-out" class="button-collapse"><i class="fa fa-bars"></i></a>
        </div>

        <!-- Breadcrumb-->
        <div class="breadcrumb-dn mr-auto">
            <ul id="breadcrumb">{% block breadcrumb %} {% endblock %}</ul>
        </div>

        <ul class="nav navbar-nav nav-flex-icons ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#"><span id="unreadNotificationCountSpan"></span> <i class="fa fa-bell"></i></a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-user"></i> <span class="hidden-sm-down">Account</span></a>

            </li>
        </ul>
    </nav>
    <!-- /.Navbar -->
</header>
<!--/.Double navigation-->

<!--Main layout-->
<main class="mb-1">
    <div class="container-fluid">
        {% block content %}
        CONTENTS R HERE!
        {% endblock %}
    </div>
</main>
<!--/Main layout-->

<!-- SCRIPTS -->
<!--<script src="/static/mdb/js/themes-compiled.min.js" type="text/javascript"></script>-->
<script src="/static/mdb/js/tether.min.js" type="text/javascript"></script>
<script src="/static/mdb/js/jquery-3.1.1.min.js" type="text/javascript"></script>
<script src="/static/mdb/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/static/mdb/js/mdb.min.js" type="text/javascript"></script>
{% block miscript %}
{% endblock %}
<script src="/static/websitesranking/js/csrf-token.js"></script>
<script>
    $(".button-collapse").sideNav();
    var el = document.querySelector('.custom-scrollbar');
    Ps.initialize(el);
</script>
</body>
</html>
