.vr-progress {
  margin-bottom: 0;
}

#new-playlist, {
  padding-right: 0;
  padding-left: 0;
}

.wrapper {
  display: flex;
  flex-flow: column;
  align-content: stretch;
}

.header, .footer, {
  flex: 1 100%;
}

.footer {
  align-self: flex-end;
}

#scheduled-device-container, #unscheduled-device-container, #linked-devices, #new-playlist, #all-videos {
  flex: 100 100%;
}

.wrapper .pagination, .wrapper .pagination ul li {
  margin-bottom: 0 !important;
}

.playlist-item {
  margin-bottom: 0.4rem;
  cursor: move;
  /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

/* ***** Playlist-edit page - Start *************** */

#all-videos .playlist-item, #new-playlist .playlist-item {
  background-color: #0671ad !important;
}

.badge-summary {
  background-color: #0671ad !important;
}

/* ***** Playlist-edit page - End **************** */


/* ***** Schedule-edit page - Start ************** */

#playlist-container {
  min-height: 380px;
}

#linked-devices .playlist-item .card-block, #playlist-container .playlist-item .card-block, #new-playlist .playlist-item .card-block {
  font-size: 1rem !important;
}

#playlist-container .playlist-item {
  background-color: #1995ad !important;
}

#scheduled-device-container .playlist-item, #unscheduled-device-container .playlist-item {
  background-color: #1995ad !important;
}

.fc-event, .playlist-item {
  background-color: #1995ad !important;
  color: white !important;
}

.fc-head {
  background-color: #2E2E2E;
  color: white;
}

.fc-center {
  font-size: 1.6rem;
}

.fc-body {
  background-color: #eceff1;
}

.fc-day-grid-event, .fc-time-grid-event {
  padding: 0 1px !important;
  /* Resolve conflict between fullcalendar and mdb stepper*/
}

/* ***** Schedule-edit page - End *************** */

.fc-event .fc-bg {
  opacity: 0 !important;
}

/* Apply a "closed-hand" cursor during drag operation. */

.item-grabbing {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.mi-table-clickable-rows>tr, .mi-sortable {
  cursor: pointer;
  cursor: -moz-pointer;
}

.small-column {
  width: 5%;
}

.playlist-item>div>i.close {
  font-size: 1.2rem !important;
  color: white;
}

.playlist-item .card-block {
  padding: 0.25rem 1rem;
  font-size: 0.8rem;
}

h4.footer {
  font-size: 1.2rem;
}

.stepper-vertical li:not(:last-child):after {
  left: 0px;
}

.stepper-a {
  left: -35px;
}

.stepper-no-line:after {
  width: 0 !important;
}

.playlist-item {
  transition: all .1s ease-in-out;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

.playlist-item:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
}

.md-pills li:after {
  width: 0 !important;
}

.md-pills li a {
  display: block;
  padding: .5em 1em;
}

/* Make min height for empty containers so it is easier to drop items */

#linked-devices, #new-playlist, #select-playlist {
  min-height: 400px;
}

#input_starttime:disabled, #input_endtime:disabled {
  color: #292b2c;
  cursor: default;
  cursor: -moz-default;
  cursor: -webkit-default;
}

.mi-tag {
  margin-left: 0 !important;
}

#mi-schedule-chips {
  border-bottom: 1px solid #ccc;
  /* reset to ori */
}

.mi-chips {
  margin-bottom: 0.5rem !important;
  padding-top: 0.5rem;
  padding-bottom: 0 !important;
  border-bottom: 0;
}

.mi-chips .input {
  width: 400px!important;
}

.mi-chips .chip {
  border-radius: 2px;
  color: white;
  background: #2E2E2E!important;
  font-size: .6rem;
  padding: .5rem 1.6rem;
  line-height: 1.5;
  vertical-align: middle;
}

.chip .close {
  color: white;
  font-size: .6rem;
  line-height: 1.5;
}

.mi-details-table td {
  vertical-align: middle;
}

.cursor-noedit {
  cursor: not-allowed;
}

.mi-lineEdit {
  margin-bottom: 0;
  top: -10px;
}

.mi-lineEdit label {
  width: 100%;
  margin-top: 4px;
}

.mi-lineEdit input {
  margin-bottom: 0;
}

.table a {
  margin-left: 0;
}

.mi-tag {
  padding: .4rem 0.8rem !important;
}

#linked-devices, #new-playlist {
  border-style: dashed;
  color: grey;
  border-radius: 4px;
}
